@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Passion One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/passionone/v18/PbynFmL8HhTPqbjUzux3JEuR9ls.woff2) format('woff2');
}

:root {
  --accent-main: #F86600;
  --accent-main-15: rgba(248, 102, 0, 0.15);
  --cart: #232526;
}

@layer base {
  html {
    font-family: Helvetica, system-ui, sans-serif;
  }
}

body {
  color: white;
  background-color: #000;
}